﻿@model IEnumerable<FootBallLegueProject.Web.Models.ViewModels.RankViewModels.RankViewModel>
@using System.Xml.Linq
@using Microsoft.AspNetCore.SignalR;

@{
    ViewData["Title"] = "List";

    var x = 1;

}
<div id="update">
    <h6>
        If you read this, Thank you for starting the solution, instead of just scrolling down.
        Main goal was to do something different for myself and I will apreciate if you can tell me every big mistake I have done
        so I can learn how to make it better in the future.
        No more chit - chat, please follow this 2 steps and if you have not migrate the DB =>  Open Package Manager Console and write Update-Database
    </h6>





    <p>
        <a asp-controller="Team" asp-action="Index"> Step ONE Create a few New Teams</a>
    </p>

    <div>
        <a asp-controller="Match" asp-action="Index">Step Two  Create a  Match </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPoints)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPoints)
                    </td>
                    <td>
                        @Html.Partial("~/Views/Team/Details.cshtml", item.Team)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/udapte.js"></script>
