﻿@model FootBallLegueProject.Web.Models.ViewModels.MatchViewModels.CreateMatchViewModel

@{
    ViewData["Title"] = "Create";
    var r = ViewBag.Create;
    var x = this.Model;
    var e = 1;
}


<h4>Here is the magic! Please Open a new tab on the browser home page and watch what will happen when you create a new match :)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          
            <div class="form-group">
                <label asp-for="TeamOne.Id" class="control-label"> Team one</label>
                <select asp-for="TeamOne.Id" class="form-control" asp-items="@ViewBag.Create"></select>
                <span asp-validation-for="TeamOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamOne.TotalScore" class="control-label">Team one goals</label>
                <input asp-for="TeamOne.TotalScore" class="form-control" />
                <span asp-validation-for="TeamOne.TotalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="TeamTwo.Id" class="control-label">Team two</label>
            <select asp-for="TeamTwo.Id" class="form-control" asp-items="@ViewBag.Create"></select>
            <span asp-validation-for="TeamTwo" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="TeamTwo.TotalScore" class="control-label"> Team two goals</label>
                <input asp-for="TeamTwo.TotalScore" class="form-control" />
                <span asp-validation-for="TeamTwo.TotalScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventTime" class="control-label">Date and Time for the event</label>
                <input asp-for="EventTime" class="form-control" />
                <span asp-validation-for="EventTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Rank List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
